{%extends 'layout/base.html'%}
{%block title%}Đăng ký{%endblock%}
{%block content%}
<h2 class="text-info text-center mt-3">TRANG ĐĂNG KÝ</h2>

{% if err_msg%}
<div class="alert alert-danger">{{err_msg}}</div>
{%endif%}
<form method="post" enctype="multipart/form-data">

    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="name" placeholder="Enter fullname" name="name">
        <label for="name">Enter fullname</label>
    </div>

    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
        <label for="username">Enter username</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
        <label for="pwd">Enter password</label>
    </div>
    <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" id="confirm" placeholder="Enter password" name="confirm" required>
        <label for="confirm">Confirm password</label>
    </div>

     <div class="form-floating mt-3 mb-3">
        <input type="file" class="form-control" id="avatar" placeholder="Avatar" name="avatar">
        <label for="avatar">Avatar</label>
    </div>

    <div class="form-floating mt-3 mb-3 text-center">
        <button class="btn btn-success" type="submit">Đăng ký</button>
    </div>

</form>
{%endblock%}